<h1 id="tableLabel">Ping Pong</h1>

<p>This component communicating with the server via SignalR-powered websockets.</p>

<p>Session ID: {{ sessionId || 'No active session' }}</p>

<button [disabled]="getConnectionState() && getConnectionState() !== 'Disconnected'" (click)="startPingPong($event)">Start Ping Pong</button>
<button [disabled]="getConnectionState() !== 'Connected'" (click)="stopPingPong($event)">Stop Ping Pong</button>

<table class='table table-striped' aria-labelledby="tableLabel">
  <thead>
    <tr>
      <th>Message ID</th>
      <th>Type</th>
      <th>Source</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let message of getMessages()">
      <td>{{ message.messageId }}</td>
      <td>{{ message.type }}</td>
      <td>{{ message.source }}</td>
      <td>{{ message.date }}</td>
    </tr>
  </tbody>
</table>
